/node_modules
/public_html/*.js 
/storage/*.key
/storage/framework/**
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock

.idea/ 

public_html/mix-manifest.json
public_html/css/
public_html/js/
public_html/jschunks/ 
public_html/t3mpDox/
public_html/qesta/

.rnd
bootstrap/
.vscode/sftp.json
.vscode/* 
public_html/css/style.css
