


// ------------------------
// Pelak Font Farsi Numeral 
// ------------------------
@font-face {
    font-family: Pelak;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Woff2/PelakFA-Thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Woff/PelakFA-Thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: Pelak;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Woff2/PelakFA-SemiBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Woff/PelakFA-SemiBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: Pelak;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Woff2/PelakFA-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Woff/PelakFA-Regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: Pelak;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Woff2/PelakFA-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Woff/PelakFA-Medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


@font-face {
    font-family: Pelak;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Woff2/PelakFA-light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Woff/PelakFA-light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


@font-face {
    font-family: Pelak;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Woff2/PelakFA-ExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Woff/PelakFA-ExtraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


@font-face {
    font-family: Pelak;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Woff2/PelakFA-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Woff/PelakFA-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


@font-face {
    font-family: Pelak;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Woff2/PelakFA-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Woff/PelakFA-Black.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}





