
// Pallete
$color-primary: #00579F;

$color-primary-dark: #001C37;
$light-color-primary-dark: #a2a9b1;
$color-accent: #230CF8;

$color-gray: #E0E1E7;
$light-color-gray: #f9f9fa;

// Colors
$color-green: #00C853;
$color-green-900: #1B5E20;
$color-blue: #2962FF;
$color-red-200: #EF9A9A;
$color-red-500: #F44336;
$color-orange: #FF9100;
$color-gray-700: #616161;

$border-color: rgba($color-primary, .15);

// Radius
$radius-sm: 3px;
$radius: .5em;

// Transision
$trans: all 100ms;






// new Pallete

$primary-color : #00569F;
$secondary-color : #30357C;
$third-color : #16D8A4;
$dark-color : #3D3D3D;
$white-color : #fff;
$error-color : #FF6F5E;
$back-color : #F2F3F6;

