.active-card {
  background: rgba($color-primary, .03);
  padding: 1.5rem;
  display: flex;
  align-items: center;

  @include down-768 {
    flex-direction: column;
    padding: 1rem;
    margin: 0 -.70rem;

    .info,
    .show-card {
      width: 100% !important;
    }
    .info {
      h4 {
        text-align: center;
      }
      p, a {
        display: none;
      }
    }
  }

  @include down-568 {
    border-radius: 0 !important;
  }

  .info {
    width: 45%;
  }

  .show-card {
    width: 55%;
  }
}
