.multi-select {
  position: relative;

  .form-control {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left .75rem center;
    background-size: 16px 12px;
  }

  ._list {
    z-index: 7;
    width: 100%;
    min-width: 200px;
    max-height: 300px;
    position: absolute;
    background: $white-color;
    overflow-y: scroll;
    top: 45px;
    right: 0;
  }
}
