.password-input {
  position: relative;
  display: block;

  input {
    direction: ltr;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;

    &::placeholder {
      font-family: 'Pelak', sans-serif;
    }
  }

  i {
    position: absolute;
    font-weight: 500;
    left: 9px;
    top: 9px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &.eye-with-label {
    i {
      top: 54px;
    }
  }
}
